.forms{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.mainpage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.buttons{
    display: flex;
    flex-direction: column;
    color: red;
}