.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh; /* Adjust based on your layout needs */
}

.buttons {
  display: flex;
  direction: row;
  justify-content: center;
  margin-top: 20px;
}
