.container{
    margin: 30px;
}

.titleInput{
    width: 400px;
    marginTop: 7px;
}

.inputTable{
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 700px;
}

.inputs{

}

.buttons{
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 100px;
}